<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ScriptMachineInstaller</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
    <servlet> 
        <servlet-name>default</servlet-name> 
        <servlet-class> 
          org.apache.catalina.servlets.DefaultServlet 
        </servlet-class> 
        <init-param> 
            <param-name>debug</param-name> 
            <param-value>0</param-value> 
        </init-param> 
        <init-param> 
            <param-name>listings</param-name> 
            <param-value>true</param-value> 
        </init-param> 
        <load-on-startup>1</load-on-startup> 
    </servlet> 
  
  <servlet>
  <servlet-name>GetListFiles</servlet-name>
  <servlet-class>com.scriptMachineInstaller.controllers.getListFiles</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>GetListFiles</servlet-name>
  <url-pattern>/getlistfiles</url-pattern>
</servlet-mapping>


  <servlet>
  <servlet-name>LoadScriptInstaller</servlet-name>
  <servlet-class>com.scriptMachineInstaller.controllers.loadScriptInstaller</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>LoadScriptInstaller</servlet-name>
  <url-pattern>/loadScriptInstaller</url-pattern>
</servlet-mapping>


  <servlet>
  <servlet-name>SentToServer</servlet-name>
  <servlet-class>com.scriptMachineInstaller.controllers.sentToServer</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>SentToServer</servlet-name>
  <url-pattern>/sentToServer</url-pattern>
</servlet-mapping>


  <servlet>
  <servlet-name>SentStatusDownload</servlet-name>
  <servlet-class>com.scriptMachineInstaller.controllers.sentStatusDownload</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>SentStatusDownload</servlet-name>
  <url-pattern>/sentStatusDownload</url-pattern>
</servlet-mapping>


  <servlet>
  <servlet-name>DeleteApp</servlet-name>
  <servlet-class>com.scriptMachineInstaller.controllers.deleteApp</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>DeleteApp</servlet-name>
  <url-pattern>/deleteApp</url-pattern>
</servlet-mapping>

  <servlet>
  <servlet-name>LoadBlock</servlet-name>
  <servlet-class>com.scriptMachineInstaller.controllers.loadBlock</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>LoadBlock</servlet-name>
  <url-pattern>/loadBlock</url-pattern>
</servlet-mapping>


  <servlet>
  <servlet-name>GetAppScript</servlet-name>
  <servlet-class>com.scriptMachineInstaller.controllers.getAppScript</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>GetAppScript</servlet-name>
  <url-pattern>/getAppScript</url-pattern>
</servlet-mapping>
  
    <servlet>
  <servlet-name>UpdateScript</servlet-name>
  <servlet-class>com.scriptMachineInstaller.controllers.updateScript</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>UpdateScript</servlet-name>
  <url-pattern>/updateScript</url-pattern>
</servlet-mapping>
  
  
</web-app>